.SizeInput {
  width: 100%;
  /* height: 400px; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SizeInput-gameHeader {
  font-size: 100px;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  color: var(--theme-color);
  padding-top: 100px;
  padding-bottom: 100px;
}

.SizeInput-inputHeader {
  width: 250px;
  font-size: 20px;
  font-weight: bold;
  color: var(--theme-color);
  margin-bottom: 20px;
}

.SizeInput-inputField {
  height: 40px;
  width: 250px;
  color: var(--theme-color);
  font-size: large;
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  padding-left: 10px;
  border: 2px solid var(--theme-color);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

.SizeInput-submit {
  height: 40px;
  width: 260px;
  background-color: var(--theme-color);
  font-size: large;
  font-variant-caps: all-petite-caps;
  color: white;
  border-radius: 4px;
}

.SizeInput-error {
  color: red;
}
