.SizeInput {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.SizeInput-inputHeader {
  width: 250px;
  margin-bottom: 20px;
}

.SizeInput-inputField {
  height: 40px;
  width: 250px;
  color: var(--theme-color);
  padding-left: 10px;
  border: 2px solid var(--theme-color);
  border-radius: 4px;
  outline: none;
  margin-bottom: 20px;
}

.SizeInput-submit {
  height: 40px;
  width: 260px;
  background-color: var(--theme-color);
  color: white;
  border-radius: 4px;

}

.SizeInput-error {
  margin-top: 20px;
  color: red;
}
