.Board {
  height: 720px;
  width: 720px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  box-sizing: border-box;
  margin-top: 150px;
}

.Board-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.Board-content {
  flex-direction: row;
  flex-wrap: wrap;
}

/* Each cell has a border*/
.Board-cell {
  box-sizing: border-box;
  border: 5px solid var(--theme-color);
  cursor: pointer;
}

/* 
create border around the board that overlaps all 4 edges of the board with backgorund color
also make all pointer events pass though to the actual board cell
*/
.Board-border {
  pointer-events: none;
  border: 5px solid white;
}

.Board-details {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.Board-winnerModal {
  flex-direction: column;
}
